# Virtual Env
mdmenv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Logs
*.log

# Documentation (Local)
Healthcare MDM - End-to-End Execution Guide.pdf 

# pdfs
*.pdf